.brand-title {
    padding-left: 100px;
    font-size: 40px;
    color: red;
    font-weight:bold ;
    font-family: Arial, Helvetica, sans-serif;
}
.button1 {
    /* padding: 1; */
    /* margin : px; */
    height: 35px;
    width: 120px;
    background-color:#E50914;
}

.drop {
    height: 35px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
}
.icon1 {
    height: 35px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
}

