.para1 {
    padding-top: 10px;
    font-size: 20px;
}
.mailbox {
    background-color: rgba(2, 1, 1, 0.1);
    /* padding-right: 200px; */
    width: 100px;
    /* color: white; */

}
/* .lastBox{
    width: 70%;
} */
.btn1 {
    /* padding-left:0px 100px 0px 100px;
     */
     padding-left: 30px;
     padding-right: 30px;
     /* color: red; */
     background-color: rgb(229,9,20);
     font-size: 25px;
}
.combDiv {
    padding-left: 70px;
    padding-right: 70px;
}

::placeholder {
    color: white;
}