form {
    border:1px solid gray;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    width: 25%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-register {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

input {
    width:100%;
    font-size: 20px;
}